.bolo-content {
    position: relative;
    height: 330px;
    width: 600px;
}

.bolo-img {
    display: none;
    height: 330px;
    width: 600px;
}

.bolo-active {
    display: inline-block;
    animation: 3s change;
}

.bolo-slide-indicators {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    z-index: 2;
}

.bolo-slide-indi {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.bolo-grey {
    background: gray;
}

#id-button-last {
    position: absolute;
    height: 30px;
    width: 15px;
    cursor: pointer;
    left: 0;
    top: 50%;
    opacity: 0.5;
    background: gray;
    transform: translateY(-50%)
}

#id-button-next {
    position: absolute;
    height: 30px;
    width: 15px;
    cursor: pointer;
    right: 0;
    top: 50%;
    opacity: 0.5;
    background: gray;
    transform: translateY(-50%)
}

@keyframes change {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}